.container {
  padding: 2em;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(151, 161, 156);
  border-radius: 10px;

  animation: effect 0.15s ease-in;
}

@keyframes effect {
  0% {
    transform: scale(1.02);
  }
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startTimerButton {
  margin-top: 30px;
  margin-bottom: 10px;
}
