.container {
  padding: 2em 2em 1em 2em;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(151, 161, 156);
  border-radius: 10px;

  animation: effect 0.15s ease-in;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
}

@keyframes effect {
  0% {
    transform: scale(1.02);
  }
}

.progress {
  width: 100%;
  height: 2em;
  font-weight: bold;
  font-size: 1em;
}
